
$backgroundColor: rgb(20,20,20);
$card: rgb(30,30,30);
$mainTextColor: rgb(221,221,221);
$star: rgb(210,161,0);
$red: rgb(229, 9, 20);
$gray: rgb(77,77,77);
$background: rgb(230, 230, 230);
$darkmode: rgb(50,54,57);
$discordblue: rgb(99,98,203);
$boxColor: rgb(0,162,226);
$spotifyGreen: #2ecc71;
@mixin button {
    position: relative;
    padding: 0.6rem 1.5rem;
    margin: 0rem 0.7rem 0.7rem 0rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    color: #FFF;
    text-decoration: none;
    background-color: #2ecc71;
    border: none;
    border-bottom: 0.3rem solid #27ae60;
    text-shadow: 0px -0.1rem #27ae60;
    transition: border 0.1s;
    cursor: pointer;

    button:hover, button:active {
        transform: translate(0px,5px);
        border-bottom: 1px solid #2ecc71;
      
       }

   }


@mixin flexCenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin flexCustom ($jc, $ai, $fd ) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
}

@mixin absolutefill{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

@mixin absolutecenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin invisible{
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

@mixin visible{
    opacity: 1;
    visibility: visible;
    z-index: 4;
}

@mixin clickable{
    cursor: pointer;
    transition: 300ms all;
    

    & :hover{
        transform: scale(1.1);
    }
}

@mixin scrollbar{
    
 &::-webkit-scrollbar-track
 {  
    border-radius: 0 2rem 2rem 0;  
     background-color: white;
 }
 
 &::-webkit-scrollbar
 {  
    border-radius: 0 2rem 2rem 0;  
     width: 0.45rem;
     background-color: white;
 }
 
 &::-webkit-scrollbar-thumb
 {  
    border-radius: 0 2rem 2rem 0;   
     background-color: $spotifyGreen;
    
 }
}

@mixin titleheader {
    font-size: 1.5rem;
    border: 2px solid white;
    position: absolute;
    top: 5.5%;
    z-index: 100;
    padding:  0.5rem 2rem;
    background-color: $spotifyGreen;
    color: white;
    border-radius: 0.5rem;
    box-shadow: 0 10px 10px -2px $darkmode;
}