@import "./variables&functions";

*{
    margin: 0;
    padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

html{
  font-size: 1vw;
  li{
    list-style: none;
  }
}

.button{
  @include button;
}


.card{
    @include flexCustom(space-around, center , column);
    padding: 0px 1rem;
    border-radius: 1rem;
    text-align: center;
    width: 30%;
    height: 40%;
    background-color: $background;
    z-index: 99;
    @include absolutecenter;
  button{
    @include button;
}  
}


.tutorial{
  @include absolutecenter;
  background-color: $background;
  padding: 1.6rem;
  width: 65%;
  height: 80%;
  z-index: 98;
  .tutorial__info{
    @include flexCenter(column);
  }
  .tutorial__gif{
    width: 30rem;
    height: 18rem;
    margin: 2rem;
    background-color: red;
    img{
      object-fit: contain;
      width: 100%;
      height: 100%
    }
  }
  div{
    @include flexCenter(column);
  }
  span{
    color: $red;
  }
  img{
    border-radius: 50%;
  }
  button{
    @include button;
  }
}


.game__wrapper{
  @include absolutecenter;
  background-color: $darkmode;
  width: 70%;
  height: 48rem;
  @include flexCenter(column);
  .game__wrapper--header{
    background-color: $discordblue;
   width: 100%;
   height: 20%;
   @include flexCenter(column);
   div:first-child{
    padding-top: 1rem;
     button{
       @include button;
     }
   }
   .header__info{
     width: 100%;
     padding: 1rem;
        ul{
    @include flexCenter(row);
    width: 100%;
    li{
      font-size: 1.5rem;
      position: relative;
      text-align: center;
      width: 25%;
      
      span{
        position: absolute;
        right: 27% ;
        color: white;
      }
    }
  }
   }
}
}

#gamebody{
  background-color: $darkmode;
  display: grid;
  width: fit-content;
  padding: 1.5rem;
  margin: auto;
}

.box{
  height: 100%;
  width: 100%;
  text-align: center;
  border: 2px solid black;
  background-color: $boxColor;
  margin: auto;
  transition: all 500ms ;
  animation: linear 1.5s ease-in;
}

@keyframes selected {
  50%{
    background-color: white;
  }
  100%{
background-color:  $boxColor;
  }
}

.gameOver{
  @include flexCenter(column);
  color: $mainTextColor;
  height: 15rem;
  width: 45rem;
  @include absolutecenter;
  background-color: $discordblue;
}

#r-b{
 animation: fade 1s linear;
}


@keyframes fade {
  0%{
    opacity: 0.4;
    transform: translateY(-1.5rem);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

.leaderboard{
  @include absolutecenter;
  @include flexCenter(column);
}

.leaderboard__position{
  p{
    padding: 0 0.5rem;
  }
  @include flexCenter(row);
}
