@import "./variables&functions";

*{
    margin: 0;
    padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}



.card{
    @include flexCustom(space-around, center , column);
    padding: 0px 1em;
    border-radius: 1em;
    text-align: center;
    width: 30%;
    height: 40%;
    background-color: $background;
    z-index: 99;
    @include absolutecenter;
  button{
    @include button;
}  
}


.tutorial{
  @include absolutecenter;
  background-color: $background;
  width: 50%;
  height: 80%;
  z-index: 98;
  .tutorial__info{
    @include flexCenter(column);
  }
  div{
    @include flexCenter(column);
  }
  span{
    color: $red;
  }
  img{
    border-radius: 50%;
  }
  button{
    @include button;
  }
}
